:root{
    --bg: #151719;
    --card: #6a7987;
    --muted: #8cafce;
    --accent: #593748;
    --text: #ffffff;
    --glass: rgba(255,255,255,0.04);
    --radius: 10px;
    --max-width: 1100px;
}

body{
  margin:0;
  background:var(--bg);
  color:var(--text);
  font-family:"Montserrat", sans-serif;
}

.site-header{
  padding:44px 48px 24px;
}

.header-bar{
  width:min(100%, var(--max-width));
  margin:0 auto;
  display:grid;
  grid-template-columns:1fr auto 1fr;
  align-items:center;
}

.nav{
  list-style:none;
  display:flex;
  gap:22px;
  margin:0;
  padding:0;
}

.nav-left{ justify-self:start; }
.nav-right{ justify-self:end; }

.nav a,
.logo{
  color:var(--text);
  text-decoration:none;
  font-size:18px;
  font-weight:600;
}

.page {
  width: min(100%, var(--max-width));
  margin: 40px auto 80px;
  padding: 0 32px;
}


.image-text-card{
  display:flex;
  flex-direction: row;
  gap:48px;
  align-items: start;
  margin-bottom: 60px;
}

/* reverse post. image to the right */
.image-text-card.reverse{
  flex-direction: row-reverse;
  text-align: left;
}

/* Only text */
.image-text-card.text-only{
  display: block;
}

/* full width image above text*/
.image-text-card.image-hero{
  flex-direction: column;
}

.image-text-card.image-hero .image-card{
  width: 100%;
}

.image-text-card.image-hero .image-card img{
  aspect-ratio: 16 / 6;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

/* Equal columns for image and text posts*/
.image-text-card:not(.image-hero) .image-card,
.image-text-card:not(.image-hero) .text-card {
  flex: 1 1 0;
  min-width: 0;
}

.image-card img{
  width: 100%;
  aspect-ratio: 16 / 10;
  object-fit: cover;
  border-radius: var(--radius);
}

.text-card{
  padding-top:4px;
}

.text-card h2 a {
  color: var(--text);
  text-decoration: none;
}
.text-card h2 a:visited {
  color: var(--text);
  text-decoration: none;
}
.text-card h2 a:hover {
  color: var(--muted);
  text-decoration: none;
}

.tag{
  margin:0 0 10px;
  font-size:13px;
  color:var(--muted);
}

h1, h2{
  margin:0 0 14px;
  font-family:"Noto Serif", serif;
  line-height:1.05;
}

h1{
  font-size:clamp(2.4rem, 4vw, 4.3rem);
}

h2{
  font-size:clamp(1.8rem, 2.5vw, 3rem);
}

.content{
  margin:0 0 18px;
  color:var(--muted);
  line-height:1.5;
  max-width:46ch;
}

.meta{
  margin:0;
  font-size:13px;
  color:var(--muted);
}

@media (max-width: 900px){
  .topbar{
    grid-template-columns:1fr;
    gap:16px;
    justify-items:center;
  }

  .nav{
    flex-wrap:wrap;
    justify-content:center;
  }

  .nav-left,
  .nav-right{
    justify-self:center;
  }

  .image-text-card,
  .image-text-card.reverse {
    flex-direction: column;
    gap: 28px;
  }

  .page{
    padding:0 20px;
  }
}