<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} | Oddly</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Serif:wdth,wght@80,600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="viewport">
    <header class="site-header">
      <nav class="header-bar">
        <div class="nav-box nav-left">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/recipes/">Recipes</a></li>
          </ul>
        </div>
        <a href="/" class="logo">Oddly</a>
        <div class="nav-box nav-right">
          <ul class="nav nav-right-links">
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/contact/">Contact </a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="page">
      {{ content }}
    </main>
  </div>
</body>
</html>